.background-container {
  position: relative;
  background-color: #060606;
  min-height: 100vh;
}

.background-image {
  opacity: 0.4;
}

.container {
  background-color: #060606;
  padding: 30px;
  max-width: 80%;
  margin: 0 auto;
}
